
$icons: (
  'icon-ripple': ic-ripple($dark-100),
);

.ui-card {
  border-radius: 6px;
  background: #fff;
}

/**
 * UI Card Head
 */

.ui-card-head {
  display: flex;
  padding: 24px;
}

.ui-card-head > h1 {
  margin: -1px 0 0;
  padding: 1px 0 0 (24px + 12px);
  font: 800 24px/1 var(--font-mont);
}

.ui-card-head > h1.-no-icon {
  padding: 3px 0 0 0;
}

@each $key, $value in $icons {
  .ui-card-head > h1.-#{$key} {
    background: url('#{$value}') 0 0 / 24px no-repeat;
  }
}

/**
 * UI Card Corner
 */

.ui-card-corner {
  flex: 1;
  display: grid;
  height: 24px + 24px + 24px;
  margin: -24px 0;
}

.ui-card-corner > div {
  margin: auto 0 auto auto;
}

/**
 * UI Card Content
 */

.ui-card-content {
  padding: 0 24px 24px;
}
