
.ui-link {
  font: 14px/48px var(--font-inter);
  white-space: nowrap;

  &.-button {
    display: inline-block;
    padding: 0 24px;
  }

  &.-border {
    border: 2px solid #fff;
    color: #fff;
    font: 16px/44px var(--font-inter);
  }

  &.-round {
    border-radius: 24px;
  }
}
