
// .page-home {}

.page-home-content {
  display: grid;
  gap: 24px;
}

.page-home-advertisement {
  width: 100%; // kinda silly yeah?
  height: 144px;
  border-radius: 6px;
  background: var(--light-200) url('https://placehold.co/1440x144') center;
}

/**
 * Tablet Screens
 */

@media (min-width: 768px + 1px) {

}

/**
 * Laptop Screens
 */

@media (min-width: 1024px + 1px) {

}

/**
 * Desktop Screens
 */

@media (min-width: 1440px + 1px) {

}
