
// .page-wholesale {}

.page-wholesale-row {
  padding: 48px;
  background: #fff;
  transition: margin 200ms;
}

/**
 *
 * Desktop Screens
 *
 */

@media (min-width: 1440px + 1px) {
  // .page-wholesale {}

  .page-wholesale-row {
    display: flex;
    margin: 24px 0 0;
    border-radius: 6px;
  }

  .page-wholesale-row > div {
    margin: auto;
  }
}
