
$icon-check: ic-check(#fff);
$icon-plus: ic-plus(#fff);

/**
 * Component Collection
 */

.component-collection {
  display: flex;
  gap: 24px;
  overflow: auto;
}

/**
 * Component Collection Product
 */

._multiline-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.component-collection-product {
  flex: 0 0 (144px + 48px);
  display: grid;
  padding: 22px 24px;
  border: 1px solid var(--light-200, red);
  border-radius: 6px;
}

.component-collection-product > .-image {
  display: flex;
  height: 144px;
  font: 600 14px/1 var(--font-inter);

  > div {
    margin: auto;
    padding: 12px 18px 12px (12px + 24px + 6px);
    border-radius: 6px;
    color: #fff;
    background: var(--red, red) url($icon-check) 12px center / 24px no-repeat;
  }
}

.component-collection-product > .-price {
  font: 600 16px/48px var(--font-inter);
  pointer-events: none;
}

.component-collection-product > .-title {
  height: 36px;
  margin: -2px 0 0;
  font: 14px/18px var(--font-inter);
}

.component-collection-product > button {
  // z-index: 1;
  width: 36px;
  height: 36px;
  margin: -18px -12px -18px auto;
  border-radius: 18px;
  background: var(--red) url($icon-plus) center / 24px no-repeat;
}
