
.component-footer {
  color: #fff;
  font: 12px/1 var(--font-inter);
  background: var(--dark-500, red);
}

.component-footer > div {
  display: grid;
  gap: 48px;
  max-width: 1440px;
  margin: auto;
  padding: 36px;
}

.component-footer-row {
  display: grid;
  grid: auto / 2fr minmax(0, 1fr) 144px 144px;
  gap: 24px;
}

.component-footer-content > h1 {
  margin: 0 0 12px;
  font: 800 24px/1 var(--font-mont);
}

.component-footer-column > h1 {
  font: 600 18px/1 var(--font-inter);
}

.component-footer-bottom {
  display: flex;
  gap: 24px;
}
