
.component-footer {
  display: flex;
  padding: 36px;
  color: #fff;
  background: var(--dark-500, red);
}

.component-footer > div {
  flex: 1;
  display: grid;
  grid: auto / 2fr 1fr 1fr 1fr;
  gap: 24px;
  max-width: 1440px;
  margin: auto;
}

// .component-footer-column {}

.component-footer-column > h1 {
  font: 600 18px/1 var(--font-inter);
}

// .component-footer-column > a {}
