
$icon-map: (
  'shopping-cart': ic-shopping-cart(#fff),
  'user': ic-user(#fff)
);

$icon-bell: ic-bell(#fff);
$icon-menu-2: ic-menu-2(#fff);
$icon-search: ic-search(#fff);
$icon-x: ic-x(#fff);

/**
 *
 *
 *
 */

.component-header {
  color: var(--white, red);
}

.component-header-bar {
  display: grid;
  grid: auto / auto 1fr auto;
  background: var(--dark-500, red);
  transition: grid-template-rows 2s, grid-template-columns, order 2s;
}

.component-header-primary {
  display: flex;

  > button {
    width: 72px;
    height: 72px;
    background: url($icon-menu-2) center / 24px no-repeat;
  }

  > h1 {
    font: 800 24px/72px var(--font-mont);
  }
}

.component-header-navigation {
  display: flex;

  > a {
    padding: 0 12px 0 (24px + 12px + 6px);
    font: 14px/72px var(--font-inter);

    @each $key, $icon in $icon-map {
      &.-#{$key} {
        background: url($icon) 12px center / 24px no-repeat;
      }
    }

    &:hover {
      background-color: var(--dark-300);
    }
  }
}

.component-header-search {
  display: flex;
  place-content: center;
  place-items: center;
  padding: 0 24px;

  > button,
  > input {
    height: 42px;
  }

  > button {
    min-width: 60px;
    border-radius: 0 6px 6px 0;
    color: #fff;
    background: var(--red, red) url($icon-search) center / 24px no-repeat;
  }

  > input {
    // width: 100%;
    width: 768px;
    min-width: 0;
    // max-width: 768px;
    padding: 0 12px 0 0;
    border-radius: 6px 0 0 6px;
    text-indent: 24px;
  }
}

.component-header-banner {
  display: flex;
  height: 0;
  color: #fff;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  background: var(--blue, red);
  transition:
    height 200ms,
    opacity 200ms;

  &.-active {
    height: var(--height);
    opacity: 1;
  }

  > a {
    margin: auto;
    padding: 0 0 0 36px;
    font: 14px/48px var(--font-inter);
    font-weight: bold;
    text-decoration: underline;
    background: url($icon-bell) 0 center / 24px no-repeat;
  }

  > button {
    width: 48px;
    height: 48px;
    margin: 0 0 0 -48px;
    background: url($icon-x) center right 12px / 24px no-repeat;
  }
}

@media (max-width: 768px) {
  .component-header-search {
    order: 1;
    grid-column: span 3;
  }
}

@media (min-width: 768px + 1px) {
  .component-header-bar {
    grid: auto / auto 0 1fr auto;
  }
}
