
$icon-map: (
  'shopping-cart': ic-shopping-cart(#fff),
  'user': ic-user(#fff)
);

$icon-bell: ic-bell(#fff);
$icon-menu-2: ic-menu-2(#fff);
$icon-search: ic-search(#fff);
$icon-x: ic-x(#fff);

/**
 *
 *
 *
 */

.component-header {
  color: var(--white, red);
}

.component-header-bar {
  display: grid;
  grid: 72px / auto 1fr auto;
  background: var(--dark-500, red);
}

.component-header-primary {
  display: flex;

  > button {
    width: (12px + 24px + 12px);
    background: url($icon-menu-2) center / 24px no-repeat;
  }

  > a {
    padding: 3px 0 0;
    font: 800 24px/1 var(--font-mont);
  }
}

.component-header-navigation {
  display: flex;
  place-content: flex-end;

  > a {
    padding: 0 12px 0 (24px + 12px);
    font: 14px/1 var(--font-inter);

    @each $key, $icon in $icon-map {
      &.-#{$key} {
        background: url($icon) 6px center / 24px no-repeat;
      }
    }

    &:hover {
      background-color: var(--dark-300);
    }
  }
}

.component-header-search {
  display: flex;
  place-content: center;
  place-items: center;

  > button,
  > input {
    height: 42px;
  }

  > button {
    min-width: (12px + 24px + 12px);
    background: var(--red, red) url($icon-search) center / 24px no-repeat;
  }

  > input {
    width: 768px;
    padding: 0 12px 0 0;
    outline: none;
    color: var(--dark-200, red);
    text-indent: 24px;
  }
}

.component-header-banner {
  display: flex;
  height: 0;
  overflow: hidden;
  opacity: 0;
  background: var(--blue, red);
  transition:
    height 200ms,
    opacity 200ms;

  &.-active {
    height: var(--height);
    opacity: 1;
  }

  > a {
    margin: auto;
    padding: 0 0 0 (12px + 24px + 12px);
    font: 600 14px/48px var(--font-inter);
    text-decoration: underline;
    background: url($icon-bell) 12px center / 24px no-repeat;
  }

  > button {
    width: 48px;
    height: 48px;
    margin: 0 0 0 -48px;
    background: url($icon-x) center right 12px / 24px no-repeat;
  }
}

@media (max-width: 768px) {
  .component-header-search {
    order: 1;
    grid-column: span 3;
  }
}

@media (min-width: 768px + 1px) {
  $minmax: minmax(auto, 240px);

  .component-header-bar {
    grid: 72px / $minmax 0 1fr $minmax;
  }

  .component-header-search {
    > button {
      border-radius: 0 6px 6px 0;
    }

    > input {
      border-radius: 6px 0 0 6px;
    }
  }
}
