
$icon-x: ic-x($red);

/**
 *
 * Component Panel
 *
 */

.component-panel {
  position: fixed;
  height: 24px + 16px + 24px;
  padding: 24px;
  border-radius: 12px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  background: var(--midnight, red);
  transition: height 200ms;
}

.component-panel > button {
  position: absolute;
  top: 24px - 9px;
  right: 24px - 9px;
  padding: 18px;
  background: url($icon-x) center / 24px no-repeat;
}

.component-panel > h1 {
  padding: 0 0 24px;
  font: 600 16px/1 var(--font-inter);
}

.component-panel.-active {
  height: var(--height);
}

/**
 *
 * Component Panel Settings
 *
 */

.component-panel-settings {
  display: grid;
  gap: 12px;
  opacity: 0;
  transition: opacity 200ms;
}

.component-panel-settings > div {
  display: grid;
  grid: auto / 1fr auto;
  gap: 24px;
  color: #fff;
  font: 400 14px/24px var(--font-inter);
}

.component-panel-settings > hr {
  height: 2px;
  background: var(--dark-300, red);
}

.component-panel-settings.-active {
  opacity: 1;
}
