
$icon-map: (
  'icon-star': ic-star($dark-100),
  'icon-pizza': ic-pizza($dark-100),
  'icon-ripple': ic-ripple($dark-100),
  'icon-leaf': ic-leaf($dark-100),
  'icon-devices': ic-devices($dark-100),
  //
  'icon-gift': ic-gift($dark-100),
  'icon-receipt': ic-receipt($dark-100),
  'icon-settings': ic-settings($dark-100),
  'icon-power': ic-power($dark-100)
);

.component-sidebar {
  color: var(--dark-100);
  font: 14px/42px var(--font-inter);
}

.component-sidebar-menu,
.component-sidebar-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.component-sidebar-menu {
  width: 288px;
  margin: 0 0 0 -288px;
  background: #fff;
  transition: margin 200ms;

  &.-active {
    margin: 0;
  }

  > h2 {
    padding: 0 36px;
    font-weight: 600;
  }
}

.component-sidebar-nav {
  display: grid;
  padding: 0 0 24px;

  > a {
    padding: 0 36px 0 (36px + 24px + 12px);

    &:hover {
      background-color: var(--light-100, red);
    }

    @each $key, $icon in $icon-map {
      &.-#{$key} {
        background: url($icon) 36px center / 24px no-repeat;
      }
    }
  }
}

.component-sidebar-overlay {
  right: 0;
  opacity: 0;
  background: rgba(var(--dark-600-rgb, 255, 0, 0), 0.5);
  pointer-events: none;
  transition: opacity 200ms;

  &.-active {
    opacity: 1;
    pointer-events: initial;
  }
}
