
// .component-sidebar {}

.component-sidebar-menu,
.component-sidebar-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.component-sidebar-menu {
  width: 288px;
  margin: 0 0 0 -288px;
  padding: 36px 0;
  background: #fff;
  transition: margin 200ms;

  &.-active {
    margin: 0;
  }

  > h2 {
    padding: 36px 36px 12px;
    font: 14px/1 var(--font-inter);
  }
}

.component-sidebar-nav {
  display: grid;

  > a {
    padding: 12px 36px 24px (36px + 24px);

    &:hover {
      background: blue;
    }
  }
}

.component-sidebar-overlay {
  right: 0;
  opacity: 0;
  background: rgba(var(--midnight-rgb), 0.5);
  pointer-events: none;
  transition: opacity 200ms;

  &.-active {
    opacity: 1;
    pointer-events: initial;
  }
}
