
.layout-default-content {
  transition: padding 200ms;
}

@media (min-width: 1440px + 1px) {
  .layout-default-content {
    display: flex;
    padding: 36px 0 0;

    > div {
      flex: 1;
      max-width: 1440px;
      margin: auto;
    }
  }
}
