
.layout-default {
  display: grid;
  grid: auto 1fr / auto;
  height: 100vh;
}

.layout-default-content {
  overflow: overlay;
  transition: padding 200ms;
}

@media (min-width: 1440px + 1px) {
  .layout-default-content {
    display: grid;
    grid: 1fr auto / auto;

    > div {
      max-width: 1440px;
      margin: auto;
      padding: 36px 0;
    }
  }
}
